======================================================
Notes:
 - Fill the correct network and cluster details below as those will be use during cloud foundry deployment.
 - All the keys are mandatory, do not keep them empty.
 - Length of Static IP Range must be greater or equals to 10 IPs. 
 - Director IP is the static IP assigned to the bosh director VM. Enter valid static IP from your subnet.
 - Specify the cloud foundry architecture-type i.e. either "dea" or "diego". Default value is "diego". 
======================================================

Networks:
  SubnetName= subnet_name
  SubnetRange= subnet_range
  Gateway= gateway_ip
  DNS= dns_ip
  StaticIpRange= subnet_ip_range
  DirectorIP= bosh_director_vm_ip
Cluster:
  ClusterIP= cluster_ip
  Username= cluster_username
  Password= cluster_password
  ContainerName= container_name
Cloud Foundry:
  Architecture= diego